main {
    background-color: bisque;
}

.container {
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: white;
    border-style: inset;
}

#demo2 {
    background-color: aquamarine;
    background-image:
      linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, #000 25%, #fff 25%);    

    background-size:37.5px 37.5x;

    background-position:0 0, 0 0, -18.75px -18.75px, 18.75px 18.75px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}